{% extends "base.html" %}
{% load bootstrap %}
{% block body %}

<div class="container">
    <div class="container bootstrap snippet">
     <form class="form" action="" method="post" enctype="multipart/form-data">
        <div class="row">
           <div class="col-sm-3 mt-5"><!--left col-->
                  
    
          <div class="text-center">
            <img src="{{request.user.profile.image.url}}" class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Upload a different photo...</h6>
            {{profile_form|bootstrap}}
          </div></hr><br>

              
            </div><!--/col-3-->
            <div class="col-sm-9">
               <div>
                   <div >
                        <hr>
                        {% csrf_token %}
                          <div class="form-group">
                          
                           {{ form|bootstrap }}
                            
                            
                          </div>
               
                        <button class="btn btn-outline-info btn-sm pl-4 pr-4"  type="submit" >Update</button>
                      
                  </div>
                   
                  </div><!--/tab-pane-->
              </div><!--/tab-content-->
    
            </div><!--/col-9-->
        </div><!--/row-->
     </form>                                                    
</div>

{% endblock %}